.event-details {
    font-size: 16px;
}

.event-details .title {
    font-weight: 700;
}

.event-details + .post-content {
    margin-top: calc(var(--gap) * 1.5);
}

.post-entry .event-details {
    margin-top: 8px;
}